<div id = 'header' ng-controller="headerController" layout="row">

        <div flex="10">
    <button class="btn btn--l btn--flat md-button btn--white" lx-ripple>
       Huyin
    </button>
            </div>
        <div flex="80">
    <lx-dropdown ng-repeat="item in nav.bars">
        <button class="btn btn--l btn--flat md-button btn--white" lx-ripple lx-dropdown-toggle>
            {{item.name}}
        </button>
        <lx-dropdown-menu>
            <ul>
                <li ng-repeat="sub in item.subs"><a class="dropdown-link btn btn--flat btn--light-blue" href="/#/list/{{sub.name}}/{{sub.id}}">{{sub.name}}</a></li>
            </ul>
        </lx-dropdown-menu>
    </lx-dropdown>
        </div>

    <div flex="10" ng-controller = 'sidenavController'>
        <md-button ng-click="toggleRight()" class="btn btn--l btn--flat md-button btn--white" >
            Management
        </md-button>
        </div>
    </div>

    </header>