<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Catagory List
            <small>advanced</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
                <div class="box" ng-controller="catagoryController">
                        <div layout="row" layout-align="center">
                            <md-input-container>
                                <label>Add Navbar and Sub</label>
                                <md-select ng-model="catagory">
                                    <md-option ng-repeat="item in cata" value="{{item.name}}">{{item.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Navbar Name</label>
                                <input type="text" ng-model = 'navbar'>
                            </md-input-container>
                            <md-input-container style = 'height:3px ;margin-top:15px'>
                            <md-button class="md-primary md-flat" ng-click = 'addCata()'>
                                Add
                            </md-button>
                                </md-input-container>
                        </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <ul class="list-group">
                                    <li class="list-group-item " ng-repeat="item in nav.bars">
                                        <div layout="row">
                                        <md-input-container>
                                        <label>{{item.name}}</label>
                                        <input type="text" ng-model = "item.name">
                                        </md-input-container>
                                        <md-button class="md-primary md-flat catagory" alt = '{{item.id}}' ng-click = 'updateNav(this)'>
                                            Update
                                        </md-button>
                                            <md-button class="md-warn md-flat catagory" alt = '{{item.id}}' ng-click="deleteNav(this)">
                                                Delete
                                            </md-button>
                                        </div>
                                        <ul class="list-group inner">
                                            <li class="list-group-item" ng-repeat="sub in item.subs">
                                                <div layout="row">
                                                <md-input-container>
                                                    <label>{{sub.name}}</label>
                                                    <input type="text" ng-model = "sub.name">
                                                </md-input-container>
                                                    <md-button class="md-primary md-flat catagory"  alt = '{{sub.id}}' ng-click="updateNav(this)">
                                                        Update
                                                    </md-button>
                                                    <md-button class="md-warn md-flat catagory"   alt = '{{sub.id}}' ng-click = "deleteNav(this)">
                                                        Delete
                                                    </md-button>
                                                </div>
                                                </li>

                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        </div>
        </div>
    </section>
</div>