

<div ng-controller="sidenavController" layout="column">

        <md-sidenav   class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <h1 class="md-toolbar-tools" id = 'header'>Login</h1>
            <!--<form action="post" action="'/management">-->
            <md-content ng-controller="rightController" class="md-padding">
                <div layout="column">
                    <div>
                <md-input-container class="md-icon-float">
                    <!-- Use floating label instead of placeholder -->
                    <label>Username</label>
                    <md-icon md-svg-src="imgs/icons/ic_person_24px.svg" class="name"></md-icon>
                    <input ng-model="name" type="text" name = 'username'>
                  
                </md-input-container>
                    </div>
                    <div>
                    <md-input-container class="md-icon-float">
                        <!-- Use floating label instead of placeholder -->
                        <label>Password</label>
                        <md-icon md-svg-src="imgs/icons/ic_place_24px.svg" class="password" ></md-icon>
                        <input ng-model="password" type="password">
                    </md-input-container>
                    </div>
                </div>
                <div layout = 'row'>
                    <div>
                        <md-button ng-click="login()" class="md-primary">
                            Login
                        </md-button>
                    </div>
               <div>
                <md-button ng-click="close()" class="md-primary">
                    Close
                </md-button>
                </div>
</div>
            </md-content>

</div>
