#header{
  height:48px;
  color : white;
  background-color : #0066cc;
}
#content{

  margin : 0 auto;
  margin-top:40px;
  width:800px;

}


#list{
  margin-top : 40px;
}

#articles{
  margin-top : 40px;
}

#article{
  margin-top: 40px;
}

#right{
  border-left : 1px solid #006666;

}

